html, body {
  background-color: #D2B48C;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: Arial;
  font-size: 20px;
}

.wrapper {
  margin: auto;
  width: 900px;
}

#header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/banner.jpg");
  background-size: cover;
}

.logo {
  margin-top: 30px;
  height: 250px;
  transform: rotate(-10deg);
}

.lead {
  color: white;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  
}

.slogan {
  color: #008080;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  font-size: 70px;
  font-style: normal;
  text-align: center;
}

h2 {
  color: #008080;
  font-style: italic;
  -webkit-text-stroke: 1px black;
}

.hours {
  font-size: 18px;
}

.section {
  display: flex;
  justify-content: space-between;
}

#map {
  height: 350px;
  width: 500px;
}

.small-box {
  color: white;
  font-size: 13px;
  border: 5px solid white;
  background-color: green;
  height: auto;
  padding: 10px;
  margin: 5px;
  width: 600px;
}

.med-box {
  margin-top: 15px;
}

.small-box h3 {
  color: white;
  font-size: 24px;
}

.small-box ul {
  padding-left: 0;
}

.small-box ul li {
  list-style-position: inside;
}

span + span {
  ;
}