html, body {
  background-color: #3C403E;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: Arial;
  font-size: 18px;
}

.wrapper {
  background-color: #807669;
  margin: auto;
  width: 900px;
}

.container {
  padding: 15px;
}

#header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/banner.jpg");
  background-size: cover;
}

.logo {
  margin-top: 30px;
  height: 250px;
  transform: rotate(-10deg);
}

.lead {
  color: white;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.slogan {
  color: #008080;
  font-weight: bold;
  -webkit-text-stroke: 2px #1E1E22;
  font-size: 70px;
  font-style: normal;
  text-align: center;
}

h2 {
  color: #1E1E22;
  font-style: italic;
  /*-webkit-text-stroke: 1px black;*/
}

.section {
  display: flex;
  justify-content: space-between;
}

#contact {
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.7em;
}

address {
  line-height: normal;
}

#hours {
  margin-top: 20px;
}

#map {
  height: 350px;
  width: 500px;
}

.small-box {
  color: white;
  font-size: 13px;
  border: 5px solid white;
  background-color: #101f10;
  height: auto;
  padding: 10px;
  margin: 5px;
  width: 600px;
}

.med-box {
  margin-top: 15px;
}

.small-box h3 {
  color: white;
  font-size: 24px;
}

.small-box ul {
  padding-left: 0;
}

.small-box ul li {
  list-style-position: inside;
}